/* @import-normalize; bring in normalize.css styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GolosTextBold';
  src: local('GolosTextBold'),
    url('./fonts/Golos-Text/Golos-Text_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'GolosTextMedium';
  src: local('GolosTextMedium'),
    url('./fonts/Golos-Text/Golos-Text_Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'GolosTextRegular';
  src: local('GolosTextRegular'),
    url('./fonts/Golos-Text/Golos-Text_Regular.ttf') format('truetype');
  font-weight: normal;
}
body {
  margin: 0;
  font-family: 'GolosTextRegular';
  color: #0f1214;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
